@model IEnumerable<SimpleCommunityMessager.Models.UserPostsDTO>

@{
    ViewBag.Title = "Read";
}

<h2>Read</h2>

<table class="table">
    <tr>
        <th>
            From
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>

        <td>
            @Html.ActionLink("Details", "Details", new { id=item.userId })
        </td>
    </tr>
}
</table>